body {
    background: rgb(48, 215, 215);
    background: linear-gradient(90deg, rgba(48, 215, 215, 1) 0%, rgba(48, 215, 215, 1) 35%, rgba(86, 231, 165, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding-left: 0;
}

.numverifyResponse>img {
    max-width: 200px;
    margin-bottom: 1em;
}

.numverifyResponse>div:first-child {
    border-bottom: 1px solid grey;
}

.submit {
    background: rgb(48, 215, 215);
    background: linear-gradient(90deg, rgba(48, 215, 215, 1) 0%, rgba(48, 215, 215, 1) 35%, rgba(86, 231, 165, 1) 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    border: none;
    font-size: 14px;
    padding: 1em;
    letter-spacing: 5px;
}

.textBox {
    padding: 13px;
}

.logo-container {
    background: white;
    padding: 2em;
    text-align: center;
}

.logo-container>img {
    max-width: 500px
}

.numerifyCall-container {
    padding: 1em;
    margin-top: 1em !important;
    margin: auto;
    text-align: center;
    background: white;
    border-radius: .25em;
    max-width: 500px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}